
.no-wrap td,
.no-wrap th {
  white-space: nowrap;
}

.table-max-height {
    max-height: 70vh; /* Defina a altura máxima desejada */
    overflow-y: auto;
    position: relative;
}
.table-fixed-header {
  width: 100%;
}

.table-fixed-header thead {
  position: sticky;
  top: 0;
  background-color: #fff; /* Cor de fundo do cabeçalho */
  z-index: 1; /* Garante que o cabeçalho esteja sobre o conteúdo */
}

.selected {
  background-color: #3498db; /* Cor de fundo da linha selecionada */
  color: #ff0303; /* Cor do texto na linha selecionada */
  cursor: pointer; /* Transforma o cursor em uma mão para indicar que a linha é clicável */
}

.table-striped tbody tr:nth-child(odd).selected {
  background-color: #3498db !important; /* Cor de fundo da linha selecionada em linhas ímpares */
}




